<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547564817173-aig20rb6iftm2ojjri4fbb8css40v8ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547564817173-aig20rb6iftm2ojjri4fbb8css40v8ue</string>
	<key>API_KEY</key>
	<string>AIzaSyA31PfqTkhwWjOrsuTxY3IP8UucXsKd4KI</string>
	<key>GCM_SENDER_ID</key>
	<string>547564817173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eishunudemiy.Swiftyoutuber-1</string>
	<key>PROJECT_ID</key>
	<string>swiftapp1-e7a3b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftapp1-e7a3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547564817173:ios:a3e7d8a5099afdd363371c</string>
	<key>DATABASE_URL</key>
	<string>https://swiftapp1-e7a3b.firebaseio.com</string>
</dict>
</plist>